*, body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: antiquewhite;
}

.container{
    background-color: azure;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
    padding: 30px 15px;
    text-align: center;
}

h1{
    text-align: center;
    border-bottom: double;
    margin-bottom: 10px;
}

form{
    align-items: center;
    text-align: center;
}

label{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
}

input{
    margin-bottom: 15px;
    border: solid 1px;
    border-radius: 3px;
    padding: 5px 10px;
    width: 250px;
    font-size: 15px;
}

button {
    font-size: 18px; 
    font-weight: 500;
    padding: 10px 20px;
    background-color: #4c4eaf; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6b84db;
}

a{
    color: blue;
}